@font-face {
	font-family: "PT Sans";
	font-style: normal;
  	font-weight: 400;
  	src: url("../fonts/ptsans-400.woff2") format("woff2");
  	font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
	font-family: "PT Sans", sans-serif;
	font-size: 18px;
	line-height: 21px;
	font-weight: 400;
	background-color: #fff;
	color: #000;
}

/*Стили хедер*/
.page-header {
	background-color: #fff;
	color: #000;
}

.navigation-link {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-decoration: none;
	color: #000;
}

.user-menu-item-button a {
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	text-decoration: none;
	color: #fff;
	background-color: #756157;
}

/*Стили контента*/
.block-hero {
	background-image: url(../images/index_background.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
}

/*Преимущества*/
.advantages h2 {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
}

.advantages p {
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	color: #333;
}

.advantages-list h3 {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	text-transform: uppercase;
}

.advantages-list p {
	text-align: center;
	color: #333;
}

.advantages-item-blue p {
	color: #fff;
}

.advantages-item {
	background-color: #83B3D31F;
}

.advantages-item-lightblue {
	background-color: #83B3D333;
}

.advantages-item-blue {
	color: #fff;
	background-color: #82B3D3;
}

/*Сервисы*/
.service h2 {
	font-weight: 700;
	Font size: 30px;
	Line height: 36px;
	text-align: center;
	text-transform: uppercase;
}

.service h3 {
	text-transform: uppercase;
}

.service p {
	Font size: 22px;
	Line height: 26px;
	text-align: center;
	color: #333;
}

.service-item-lightblue {
	background-color: #83B3D333;
}

/*Заказ гостиницы*/
.search-hotel b {
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
}

.search-hotel p {
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	color: #333;
}

.search-hotel .search {
	background-color: #756157;
	font-size: 20px;
	line-height: 36px;
	font-weight: 700;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}