@font-face {
	font-family: "PT Sans";
	font-style: normal;
  	font-weight: 400;
  	src: url("../fonts/ptsans-400.woff2") format("woff2");
  	font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
	font-family: "PT Sans", sans-serif;
	font-size: 18px;
	line-height: 21px;
}

/*Стили хедер*/
.page-header {
	background-color: #fff;
	color: #000;
}

.navigation-link {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-decoration: none;
	color: #000;
}

.user-menu-item-button a {
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	text-decoration: none;
	color: #fff;
	background-color: #756157;
}