@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: #fff;
  color: #000;
}

/*Главная страница*/

/*Стили хедер*/
.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000;
}

.user-menu-item-button a {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #fff;
  background-color: #756157;
  text-transform: uppercase;
}

/*Стили контента*/
.block-hero {
  background-image: url(../images/index_background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

/*Преимущества*/
.advantages h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.advantages,
.advantages-reason,
.advantage-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333;
}

.advantages-list h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-list p {
  text-align: center;
  color: #333;
}

.advantages-item-blue p {
  color: #fff;
}

.advantages-item {
  background-color: #83b3d31f;
}

.advantages-item-lightblue {
  background-color: #83b3d333;
}

.advantages-item-blue {
  color: #fff;
  background-color: #82b3d3;
}

/*Сервисы*/
.service h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.service h3 {
  text-transform: uppercase;
}

.service p {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333;
}

.service-item-lightblue {
  background-color: #83b3d333;
}

/*Заказ гостиницы*/
.search-hotel b {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.search-hotel p {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333;
}

.search-hotel .search {
  background-color: #756157;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

/*Подпись на рассылку*/

.mailing {
  background-image: url(../images/subscribe_background.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #fff;
}

.mailing b {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.mailing p {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.mailing button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  background-color: #82b3d3;
}

.mailing input {
  line-height: 24px;
  font-size: 18px;
}

/*Футер*/
.page-footer,
.inner-footer {
  background-color: #fff;
  color: #000;
}

.page-footer a,
.inner-footer a {
  text-decoration: none;
  color: #000;
}

.page-footer .phone,
.inner-footer .phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

/*Страница каталога*/
/*Фильтрация*/
.inner-head {
  background-image: url(../images/catalog/catalog_background.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #fff;
}

.inner-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  color: #fff;
}

.breadcrumps a {
  text-decoration: none;
  color: #fff;
}

.filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.options {
  line-height: 23px;
}

.filter-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.subscribe-button {
  background-color: #82b3d3;
}

/*Галерея*/
.gallery h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.gallery select {
  font-size: 18px;
  line-height: 21px;
  color: #333;
}

.hotels-list b {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.hotels-list p {
  font-size: 18px;
  line-height: 21px;
  color: #333;
}

.hotels-list .price span {
  font-size: 18px;
  line-height: 21px;
  color: #333;
  text-align: right;
}

.hotels-list a {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #756157;
}

.hotels-list button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #82b3d3;
}

.hotels-list .rating span {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

/*Пагинация*/
.gallery-pagination a {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  text-decoration: none;
  background-color: #82b3d3;
}

.current-page a,
.other-pages a {
  background-color: #f2f2f2;
  color: #000;
}

/*Подписка*/
.inner-mailing {
  background-color: #fff;
  color: #000;
}

.inner-mailing b {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.inner-mailing p {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333;
}

.inner-mailing button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  background-color: #82b3d3;
}

.inner-mailing input {
  font-size: 18px;
  line-height: 24px;
}
